.articles {
  margin: 0 20vw;

  h2 {
    margin-bottom: 5rem;
    text-decoration: underline;
  }

  .article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #000;

    &-text {
      width: 50%;
      padding: 4rem 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        text-align: left;
        // margin-bottom: ;
      }

      .price {
        margin-bottom: 2rem;
      }

      .buyBtn {
        padding: 0.5rem 1rem;
        background-color: #cabdda;
        transition: background-color 0.3s;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1em;

        &:hover {
          background-color: #ac9abc;
        }
      }
    }

    &-img {
      width: 50%;
      img {
        width: 90%;
        padding: 1rem;

        &.right {
          order: 2;
        }
      }
      .img-zoom {
        display: none;
        width: 300px;
        height: 300px;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url("./tshirt2.jpg");
        background-repeat: no-repeat;
      }

      &:hover {
        .img-zoom {
          display: inline;
        }
      }
    }
  }
}
